VC_ALSA_DEVICE=
VC_MIC_INDEX=
VC_RECORD_SEC=
VC_WAKE_RECORD_SEC=
VC_SILENCE_TIMEOUT=
VC_WAKE_SILENCE_TIMEOUT=
VC_SILENCE_RMS=
VC_SPEECH_RMS=
VC_SPEECH_CONTINUE_RMS=
VC_MIN_SPEECH_SEC=
VC_END_SILENCE_CHUNKS=
VC_POST_ACK_GUARD=
VC_WAKE_COOLDOWN=
VC_WAKE_PHRASES=
VC_VOSK_MODEL=
VC_MUSIC_DIR=
ZEROCLAW_BIN=
VC_FAST_LLM=
VC_STREAM=
VC_EARLY_TTS=
VC_STT_ENGINE=
VC_LLM_MODEL=
VC_LLM_MAX_TOKENS=
VC_LLM_TIMEOUT=
VC_TTS_ENGINE=
VC_TTS_MP3_PRIME=
VC_TTS_VOICE=
VC_MUSIC_STREAM=
VC_LLM_TEMPERATURE=
VC_MUSIC_DUCK_VOL=
VC_MUSIC_NORMAL_VOL=
VC_LANG_MODE=
VC_DEFAULT_LANG=
VC_VOLUME_PERCENT=
VC_STARTUP_BEEP=
VC_CAPTURE_GAIN=
VC_YANDEX_TTS_API=
VC_YANDEX_VOICE_RU=
VC_YANDEX_ROLE_RU=
VC_YANDEX_VOICE_KK=
VC_YANDEX_ROLE_KK=
VC_YANDEX_API_KEY=
VC_YANDEX_FOLDER_ID=
VC_LED=
VC_LED_TYPE=
VC_LED_GPIO=
VC_LED_COUNT=
VC_LED_BRIGHTNESS=
VC_LED_DMA=
VC_LED_INVERT=
VC_LED_COLOR_idle=
VC_LED_COLOR_wake=
VC_LED_COLOR_listen=
VC_LED_COLOR_think=
VC_LED_COLOR_speak=
VC_LED_COLOR_error=
VC_LED_COLOR_music=
VC_DEEPGRAM_API_KEY=
VC_DEEPGRAM_MODEL=
VC_STT_YANDEX=
VC_DEEPGRAM_TIMEOUT=
VC_STT_PREFER=
VC_STT_TIMEOUT=
VC_STT_DEEPGRAM_MIN_CONF=
VC_SPEED_MODE=
VC_STT_FAST=
VC_STT_MAX_SEC=
VC_WAKE_ACK=
VC_MEMORY_TURNS=
VC_EARLY_TTS_MIN=
VC_EARLY_TTS_CHARS=
VC_FAST_CLOSING=
VC_YANDEX_TTS_TIMEOUT=
VC_LLM_GREETING_TOKENS=
VC_YANDEX_TTS_GRPC=
VC_YANDEX_TTS_STREAM=
VC_STT_FAST_VOSK=
VC_STT_FAST_MIN_CONF=
VC_DEEPGRAM_KEYTERMS=
VC_STT_GAIN_PEAK=
VC_STT_VOSK_TIMEOUT=
VC_SPEAKER_VOL=
VC_PLAYBACK_VOL=
VC_HEADPHONE_VOL=
VC_MIC_BOOST=
VC_ADC_PCM_GAIN=
VC_MIXER_NOSTORE=
VC_CMD_STT_FAST=
VC_CMD_CACHE=
VC_UI_PORT=
VC_STT_EARLY_EXIT=
VC_STT_EARLY_EXIT_CONF=
VC_SPEAK_CLOSING=
VC_WAKE_MIC_PAUSE=
VC_WAKE_MIC_RESTORE=
VC_WAKE_CHUNK=
VC_REPLY_MODE=
VC_STT_PARALLEL=
VC_MIXER_MIN_INTERVAL=
VC_REPLY_MAX_CHARS=
VC_REPLY_MAX_SENTENCES=
VC_STREAM_FIRST_WORDS=
VC_STREAM_MIN_CHARS=
VC_STT_STREAM=
VC_DEEPGRAM_ENDPOINTING=
VC_DEEPGRAM_UTTERANCE_END=
VC_WAKE_ACK_ASYNC=
VC_RECORD_DYNAMIC=
VC_WAKE_LISTEN_MAX=
VC_WAKE_SPEECH_MAX=
VC_WAKE_SILENCE_MIN=
VC_WAKE_SILENCE_MAX=
VC_WAKE_SILENCE_RAMP=
VC_WAKE_SILENCE_EXTEND=
VC_TELEGRAM_SPEAK=
VC_TELEGRAM_POLL_TIMEOUT=
# VC_TELEGRAM_BOT_TOKEN=
VC_LONG_REPLY_TELEGRAM=
VC_LONG_REPLY_SENTENCES=
VC_LONG_REPLY_SPOKEN=
VC_TELEGRAM_BOT_TOKEN=
VC_TELEGRAM_ALLOWED_IDS=
VC_DEMO_MODE=
VC_DEMO_WEATHER_TEXT=
VC_STT_YANDEX_BILINGUAL=
VC_DEEPGRAM_BILINGUAL_DUAL=
VC_DEEPGRAM_BILINGUAL_LANG=
VC_DEMO_MUSIC_TRACK=
VC_DEMO_MUSIC_QUERY=
VC_FAST_AGENT=
VC_FAST_AGENT_WEB=
VC_FAST_AGENT_MODEL=
VC_FAST_AGENT_PROVIDER=
VC_FAST_AGENT_TIMEOUT=

# Spotify
VC_SPOTIFY_CLIENT_ID=
VC_SPOTIFY_CLIENT_SECRET=
VC_SPOTIFY_REFRESH_TOKEN=
VC_SPOTIFY_DEVICE_NAME=
